<h3>Add Position</h3>
<form
  action="<%= '/players/' + player.player_id + '/addPosition'  %>"
  method="POST"
>
  <div>
    <input
      hidden
      type="text"
      class="form-control"
      name="_id"
      value="<%= player._id %>"
    />
  </div>

  <div>
    <label class="form-label">
      Position:
      <input type="text" class="form-control" name="position" />
    </label>
  </div>

  <button type="submit" class="btn btn-outline-primary">Add Position</button>
</form>
