<h2>Reference</h2>

<form action=" <%= '/players/' + player._id + '/edit' %>" method="POST">
  <div>
    <label class="form-label">
      CA:
      <input
        class="form-control"
        type="text"
        name="ca"
        value="<%= player.ca %>"
      />
    </label>
  </div>

  <div>
    <label class="form-label">
      PA:
      <input
        class="form-control"
        type="text"
        name="pa"
        value="<%= player.pa %>"
      />
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Edit</button>
  <a class="btn btn-danger" href="<%= '/players/' + player._id + '/delete' %>"
    >Delete</a
  >
</form>
