<!DOCTYPE html>
<html>
  <%- include("../templates/head.ejs") %>
  <body>
    <%- include("../templates/navBar.ejs") %>

    <div class="container">
      <h1>Football Manager</h1>

      <div class="row">
        <div class="col-12">
          <%- include("../components/hotPlayersList.ejs", { players }) %>
        </div>
      </div>
    </div>

    <%- include("../templates/footer.ejs") %>
  </body>
</html>
